@font-face {
  font-family: 'Roboto-Regular';
  src: url('/Fonts/Roboto/static/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


.main1_Home {
  width: 100%;
  min-height: 100vh;
  background: 
    linear-gradient(
      rgba(0,0,0,0.55),
      rgba(0,0,0,0.55)
    ),
    url("/Images/Register.jpg");  
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.container1_Home {
  width: 90%;
  margin: auto;
}

.row1_Home {
  display: flex;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 25px 60px rgba(0,0,0,0.25);
  backdrop-filter: blur(6px);
}

.col1_Home {
  width: 60%;
  position: relative;
}

.homeSlider {
  width: 100%;
  height: 100%;
}

.homeSlider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background: #ff6600 !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ff6600 !important;
}

.col2_Home {
  width: 40%;
  padding: 55px;
  background: #ffffff;
}

.homeForm h2 {
  margin-bottom: 28px;
  font-size: 28px;
  font-weight: 600;
  color: #ff6600;
   font-family: 'Roboto-Regular';
}

.homeForm label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
   font-family: 'Roboto-Regular';
}


.homeForm input {
  width: 100%;
  padding: 13px 14px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: all 0.3s ease;
   font-family: 'Roboto-Regular';
}

.homeForm input:focus {
  border-color: #ff6600;
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 102, 0, 0.15);
}

.homeForm button {
  width: 100%;
  padding: 14px;
  background: linear-gradient(135deg, #ff6600, #ff8533);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.homeForm button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(255,102,0,0.35);
}

@media (max-width: 900px) {
  .row1_Home {
    flex-direction: column;
  }

  .col1_Home,
  .col2_Home {
    width: 100%;
  }

  .col1_Home {
    height: 280px;
  }

  .col2_Home {
    padding: 35px;
  }
}



.loginText {
  margin-top: 18px;
  font-size: 14px;
  text-align: center;
  color: #555;
     font-family: 'Roboto-Regular';
}

.loginText a {
  color: #ff6600;
  font-weight: 600;
  text-decoration: none;
  margin-left: 5px;
  transition: 0.3s;
     font-family: 'Roboto-Regular';
}

.loginText a:hover {
  text-decoration: underline;
}