@font-face {
  font-family: 'Roboto-Regular';
  src: url('/Fonts/Roboto/static/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.main1_Login {
  width: 100%;
  height: 100vh;
  background: #000;
}

.container1_Login {
  width: 100%;
  height: 100%;
}

.row1_Login {
  display: flex;
  width: 100%;
  height: 100%;
}

.col1_Login {
  width: 60%;
  height: 100%;
  overflow: hidden;
}

.homeSliderL,
.homeSliderL .swiper,
.homeSliderL .swiper-wrapper,
.homeSliderL .swiper-slide {
  width: 100%;
  height: 100%;
}

.homeSliderL img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ff6600 !important;
}

.swiper-pagination-bullet {
  background: #ff6600 !important;
}

.col2_Login {
  width: 40%;
  height: 100%;
  background: #0d0d0d;
  padding: 60px;
  display: flex;
  align-items: center;
}

.col2_Login form {
  width: 100%;
}

.col2_Login h2 {
  color: #ff6600;
  font-size: 24px;
  margin-bottom: 18px;
  font-weight: 600;
    font-family: 'Roboto-Regular';
}

.col2_Login label {
  display: block;
  margin-bottom: 4px;
  font-size: 13px;
  color: #bbb;
    font-family: 'Roboto-Regular';
}



.col2_Login input {
  width: 100%;
  padding: 9px 12px;
  margin-bottom: 16px;
  border-radius: 6px;
  border: 1px solid #fab78b;
  background: #111;
  color: #fff;
  font-size: 13px;
    font-family: 'Roboto-Regular';
}


.col2_Login input::placeholder {
  color: #666;
}

/* .col2_Login input:focus {
  border-color: #ff6600;
  outline: none;
  box-shadow: 0 0 0 2px rgba(255,102,0,0.2);
} */

.col2_Login input:focus {
  border-color: #fff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(255,102,0,0.2);
}

.col2_Login button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(135deg, #ff6600, #ff8533);
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
    font-family: 'Roboto-Regular';
}

.col2_Login button:hover {
  box-shadow: 0 6px 18px rgba(255,102,0,0.35);
}

.loginText {
  margin-top: 14px;
  text-align: center;
  font-size: 12.5px;
    font-family: 'Roboto-Regular';
  color: #999;
}

.loginText a {
  color: #ff6600;
  font-weight: 600;
  text-decoration: none;
    font-family: 'Roboto-Regular';
}

@media (max-width: 900px) {
  .row1_Login {
    flex-direction: column;
  }

  .col1_Login {
    width: 100%;
    height: 300px;
  }

  .col2_Login {
    width: 100%;
    height: auto;
    padding: 40px;
  }
}