
@font-face {
  font-family: 'Roboto-Regular';
  src: url('/Fonts/Roboto/static/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}




.main1_ThankYou {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #0f172a, #020617);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1_ThankYou {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thankyou-card {
  background: #0b1220;
  padding: 70px 65px;
  border-radius: 20px;
  text-align: center;
  max-width: 520px;
  width: 92%;
  /* box-shadow: 0 30px 80px rgba(0,0,0,0.55); */
  box-shadow: 0 30px 80px rgba(234, 85, 5, 0.55);
  animation: fadeInUp 0.6s ease;
}

.success-icon {
  font-size: 88px;
  color: #ff6600;
  margin-bottom: 22px;
}

.thankyou-card h2 {
  font-size: 34px;
  color: #ffffff;
  margin-bottom: 14px;
  font-weight: 600;
   font-family: 'Roboto-Regular';
}

.thankyou-card p {
  font-size: 17px;
  color: #9ca3af;
  margin-bottom: 38px;
  line-height: 1.7;
   font-family: 'Roboto-Regular';
}

/* .thankyou-btn {
  padding: 16px 44px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background: linear-gradient(135deg, #16a34a, #22c55e);
  transition: all 0.3s ease;
  box-shadow: 0 12px 32px rgba(34,197,94,0.45);
   font-family: 'Roboto-Regular';
} */


.thankyou-btn {
  padding: 16px 44px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background: linear-gradient(135deg, #ff6600, #fc7d28);
  transition: all 0.3s ease;
  box-shadow: 0 12px 32px rgba(197, 107, 34, 0.45);
   font-family: 'Roboto-Regular';
}
.thankyou-btn a{
    text-decoration: none;
    color: #fff;
}

.thankyou-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 18px 44px rgba(34,197,94,0.6);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 480px) {
  .thankyou-card {
    padding: 50px 35px;
  }

  .success-icon {
    font-size: 70px;
  }

  .thankyou-card h2 {
    font-size: 28px;
     font-family: 'Roboto-Regular';
  }
}